
metropolisPotts.txt
32x32data/latticelist.npy
32x32data/predictdata.npy
32x32data/predictlabels.npy
32x32data/templist.npy
32x32data/testconfigs.npy
32x32data/testtemplabels.npy
latticelist.npy
notes.txt
predictdata.npy
predictlabels.npy
templist.npy
testconfigs.npy
testtemplabels.npy
roll.py
templabels.npy
maglabels.npy
configs.npy
pottsvtemplabels.npy
pottsmaglabels.npy
pottsconfigs.npy
Order.npy
pottsconfigs.npy
pottsmaglabels.npy
pottsvtemplabels.npy
RegressionCNN16.py
